<form #ioForm="ngForm" (ngSubmit)="onSubmit(ioForm.value)">

  <div class="container" id="ioContainer"
       fxLayout="row"
       fxLayoutAlign="space-around center"
       fxLayoutWrap="wrap">

    <div class="container"
         fxLayout="column"
         fxLayoutGap="10%">

      <md-button-toggle-group #fromLanguageToggleGroup="mdButtonToggleGroup" name="fromLanguage" ngModel="{{ languages[0] }}">
        <md-button-toggle *ngFor="let language of languages" value="{{ language }}">
          {{ 'languages.' + language | translate }}
        </md-button-toggle>
      </md-button-toggle-group>

      <md-input-container>
        <input mdInput placeholder="{{ 'input.word' | translate }}" name="word" ngModel>
      </md-input-container>

      <div *ngIf="!data.wordURL">
        <br>
      </div>

      <div *ngIf="data.wordURL">
        <a href="{{ data.wordURL }}" target="_blank">read more</a>
      </div>

    </div>

    <div class="container"
         fxLayout="column"
         fxLayoutGap="10%">

      <md-button-toggle-group #toLanguageToggleGroup="mdButtonToggleGroup" name="toLanguage" ngModel="{{ languages[1] }}">
        <md-button-toggle *ngFor="let language of languages" value="{{ language }}">
          {{ 'languages.' + language | translate }}
        </md-button-toggle>
      </md-button-toggle-group>

      <md-input-container>
        <input mdInput placeholder="{{ 'output.word' | translate }}" name="translationWord" disabled [(ngModel)]="data.translation">
      </md-input-container>

      <div *ngIf="!data.translationURL">
        <br>
      </div>

      <div *ngIf="data.translationURL">
        <a href="{{ data.translationURL }}" target="_blank">read more</a>
      </div>

    </div>

  </div>
  <div class="container"
       fxLayout="row"
       fxLayoutAlign="space-around center"
       fxLayoutWrap="wrap">

    <button md-raised-button type="submit" color="primary">{{ 'input.translate' | translate }}</button>

  </div>
</form>
