<form role="form" name="mainInput" id="mainInput" ng-submit="formSubmit()" method="post">
    <div class="row">
        <div class="col-md-6">
                <p>&nbsp</p>
                <strong><p>From:</p></strong>
                <div class="btn-group" ng-click="validateLanguagesInFromGroup()" >
                    <label class="btn btn-raised btn-default btn-sm" ng-model="sensdu.fromLanguage" uib-btn-radio="'uk'" >
                        Ukrainian
                    </label>
                    <label class="btn btn-raised btn-default btn-sm" ng-model="sensdu.fromLanguage" uib-btn-radio="'en'" >
                        English
                    </label>
                    <label class="btn btn-raised btn-default btn-sm"  ng-model="sensdu.fromLanguage" uib-btn-radio="formHelper.fromLanguageCode" >
                        {{formHelper.fromLanguage}}
                    </label>

                    <!-- Single dropdown button -->
                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button id="single-button-fromLanguage btn-sm" type="button" class="btn btn-raised btn-default btn-sm" uib-dropdown-toggle  ng-disabled="disabled">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button-fromLanguage">
                            <li role="menuitem">
                                <a href="#" ng-click="changeLanguageInFromGroup('ru', 'Russian')">Russian</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('sv', 'Swedish')">Swedish</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('de', 'German')">German</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('nl', 'Dutch')">Dutch</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('fr', 'French')">French</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('it', 'Italian')">Italian</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('es', 'Spanish')">Spanish</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('pl', 'Polish')">Polish</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('ja', 'Japanese')">Japanese</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('zh', 'Chinese')">Chinese</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('tr', 'Turkish')">Turkish</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('ko', 'Korean')">Korean</a>
                                <a href="#" ng-click="changeLanguageInFromGroup('ka', 'Georgian')">Georgian</a>
                            </li>
                        </ul>
                    </div>
                </div>

            <button type="button" id="swapLanguages" class="btn btn-default btn-sm"
                    ng-click="swapLanguages()" aria-label="Swap languages">
                <i class="material-icons">loop</i>
            </button>

        </div>

        <div class="col-md-6">
            <p>&nbsp</p>
            <strong><p>To:</p></strong>
            <div class="btn-group"  ng-click="validateLanguagesInToGroup()">
                <label class="btn btn-raised btn-default btn-sm" ng-model="sensdu.toLanguage" uib-btn-radio="'en'" >
                    English
                </label>
                <label class="btn btn-raised btn-default btn-sm" ng-model="sensdu.toLanguage" uib-btn-radio="'uk'" >
                    Ukrainian
                </label>
                <label class="btn btn-raised btn-default btn-sm"  ng-model="sensdu.toLanguage" uib-btn-radio="formHelper.toLanguageCode" >
                    {{formHelper.toLanguage}}
                </label>

                <!-- Single dropdown button -->
                <div class="btn-group" uib-dropdown keyboard-nav>
                    <button id="single-button-toLanguage" type="button" class="btn btn-raised btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button-toLanguage">
                        <li role="menuitem">
                            <a href="#" ng-click="changeLanguageInToGroup('ru', 'Russian')">Russian</a>
                            <a href="#" ng-click="changeLanguageInToGroup('sv', 'Swedish')">Swedish</a>
                            <a href="#" ng-click="changeLanguageInToGroup('de', 'German')">German</a>
                            <a href="#" ng-click="changeLanguageInToGroup('nl', 'Dutch')">Dutch</a>
                            <a href="#" ng-click="changeLanguageInToGroup('fr', 'French')">French</a>
                            <a href="#" ng-click="changeLanguageInToGroup('it', 'Italian')">Italian</a>
                            <a href="#" ng-click="changeLanguageInToGroup('es', 'Spanish')">Spanish</a>
                            <a href="#" ng-click="changeLanguageInToGroup('pl', 'Polish')">Polish</a>
                            <a href="#" ng-click="changeLanguageInToGroup('ja', 'Japanese')">Japanese</a>
                            <a href="#" ng-click="changeLanguageInToGroup('zh', 'Chinese')">Chinese</a>
                            <a href="#" ng-click="changeLanguageInToGroup('tr', 'Turkish')">Turkish</a>
                            <a href="#" ng-click="changeLanguageInToGroup('ko', 'Korean')">Korean</a>
                            <a href="#" ng-click="changeLanguageInToGroup('ka', 'Georgian')">Georgian</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                    <div class="form-group has-warning additionalSpace" ng-show="sensdu.state == 'ambiguousArticle'">
                        <select class="form-control" ng-model="sensdu.sourceWord"
                             ng-options="o for o in sensdu.wordSuggestion" id="selectLot" autofocus>
                             <option style="display:none" value="">
                                    Several articles are available. Please, specify &#9661
                             </option>
                        </select>
                    </div>

                    <div class="form-group label-floating leftPad" ng-hide="sensdu.state == 'ambiguousArticle'">
                        <label class="control-label" for="wordInput">Enter the word for translation</label>
                        <input class="form-control" id="wordInput"
                            ng-change="partialReset()" ng-model="sensdu.sourceWord" required/>
                    </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default inputPad" ng-hide="sensdu.translatedWord == null">
                <div class="panel-body">
                    {{sensdu.translatedWord}}
                </div>
            </div>
        </div>
    </div>

    <div class="text-info" ng-show="sensdu.state != 'initiated' &&
         sensdu.state != 'ambiguousArticle' &&
         sensdu.sourceWord != null &&
         sensdu.translatedWord == null">
        There is no possibility toLanguage translate this word as no connected articles matching toLanguage your input were identified.
    </div>
    <div class="text-info" ng-hide="sensdu.state != 'initiated' &&
         sensdu.state != 'ambiguousArticle' &&
         sensdu.sourceWord != null &&
         sensdu.translatedWord == null">
        &nbsp
    </div>

    <div class="text-warning" ng-show="sensdu.state == 'error'">
        Can't find such word on Wikipedia. Try another word!
    </div>
    <div ng-hide="sensdu.state == 'error'">&nbsp</div>
    <div class="row">
        <div class="col-md-6">
            <p></p>
            <p ng-show="sensdu.wordURL == null">&nbsp</p>
            <p ng-hide="sensdu.wordURL == null"><a ng-href="{{sensdu.wordURL}}">read about your word on Wikipedia</a></p>
        </div>
        <div class="col-md-6">
            <p></p>
            <p ng-show="sensdu.translatedWordURL == null">&nbsp</p>
            <p ng-hide="sensdu.translatedWordURL == null"><a ng-href="{{sensdu.translatedWordURL}}">read about translated word on Wikipedia</a></p>
        </div>
    </div>

    <p>&nbsp</p>
    <button type="submit" class="btn btn-raised btn-primary">Translate</button>
    <button type="reset"  class="btn btn-raised btn-warning" ng-click="reset()">Reset</button>
    <!--<pre>-->
        <!--{{sensdu}}-->
        <!--{{formHelper}}-->
    <!--</pre>-->
</form>