<!doctype html>
<html>
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="sensduFrontEnd">

<div id="wrap">
    <div ng-controller="input as input" class="container">

        <h1 id="mainHeader">Sensdu</h1>

        <form role="form" name="mainInput" id="mainInput"
              ng-submit="input.submitForm()" onreset="resetHandler()" method="post">
            <!--<table border="0" style="width:100%">-->
                <!--<tr>-->
                    <!--<td id="fromLanguageGroup">-->
                        <!--<label>From:</label>-->
                        <!--<div class="btn-group-xs">-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options"  ng-model="input.sensdu.fromLanguage"-->
                                      <!--uib-btn-radio="uk" autocomplete="off">Ukrainian-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.fromLanguage" checked-->
                                       <!--uib-btn-radio="en" autocomplete="off">English-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.fromLanguage"-->
                                       <!--uib-btn-radio="de" autocomplete="off">German-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.fromLanguage"-->
                                       <!--uib-btn-radio="ru" autocomplete="off">Russian-->
                                <!--</input>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</td>-->

                    <!--<td id="toLanguageGroup">-->
                        <!--<label>To:</label>-->
                        <!--<div class="btn-group-xs" data-toggle="buttons">-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.toLanguage"-->
                                       <!--uib-btn-radio="en" autocomplete="off">English-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.toLanguage"-->
                                       <!--uib-btn-radio="de" autocomplete="off">German-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.toLanguage"-->
                                       <!--uib-btn-radio="ru" autocomplete="off">Russian-->
                                <!--</input>-->
                            <!--</label>-->
                            <!--<label class="btn btn-default">-->
                                <!--<input type="radio" name="options" ng-model="input.sensdu.toLanguage"-->
                                       <!--uib-btn-radio="uk" autocomplete="off" checked>Ukrainian-->
                                <!--</input>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
            <div id="fromLanguage" class="form-group">
                <label for="fromLanguage"></label>
                <input type="text" placeholder="from" ng-model="input.sensdu.fromLanguage"/>

            </div>
            <div id="toLanguage" class="form-group">
                <label for="toLanguage"></label>
                <input type="text" placeholder="to" ng-model="input.sensdu.toLanguage"/>

            </div>

            <div id="wordInput" class="form-group">
                <label for="word"></label>
                <input type="text" id="word" name="word" class="form-control"
                       placeholder="Enter the word for translation" ng-model="input.sensdu.sourceWord"/>

            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <input type="reset" uib-btn-radio="Reset" class="btn btn-danger" onclick="reset()"/>
        </form>

    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="=muted credit">
            Sensdu - sensum de sensu (sense-for-sense) translation powered by Wikipedia.
        </p>
    </div>
</div>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/sensduFrontEndApp.js"></script>
<script src="js/router.js"></script>
<!--TODO add dependency as webjar-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--/////////////////////////////-->


<script src="js/validator.js" type="text/javascript"></script>

</body>

</html>