<!doctype html>
<html>
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="sensduFrontEnd">

<div id="wrap">
    <div ng-controller="output as output" class="container">
        <h1 id="mainHeader">Sensdu</h1>
            <p><strong>Your word: {{input.sensdu.sourceWord}} </strong>
            <p><strong>Sense-for-sense translation: {{input.sensdu.translatedWord}} </strong>
            <p>Read more on Wikipedia: {{input.sensdu.translatedWordURL}} </p>
        <a href="/">Translate another word</a>
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="=muted credit">
            Sensdu - sensum de sensu (sense-for-sense) translation powered by Wikipedia.
        </p>
    </div>
</div>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/sensduFrontEndApp.js"></script>
<!--TODO add dependency as webjar-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--/////////////////////////////-->

<script src="js/validator.js" type="text/javascript"></script>

</body>

</html>