<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Sensdu</h1>
<form action="#" th:action="@{/app}" th:object="${sensduCore}" method="post">
    <p>Type the word: <input type="text" th:field="*{sourceWord}" /></p>
    <p>Vector translation: <input type="text" th:field="*{vectorOfTranslation}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>