<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/validator.js"
            th:src="@{js/validator.js}"></script>

</head>

<body>
<div id="wrap">
    <div class="container">

        <h1 id="mainHeader">Sensdu</h1>

        <form role="form" name="mainInput" id="mainInput" action="#" th:action="@{/}" th:object="${sensduCore}"
              onsubmit="return validateForm()" onreset="resetHandler()" method="post">
            <div id="wordInput" class="form-group">
                <label for="word">Word for translation:</label>
                <input type="text" id="word" name="word" class="form-control" th:field="*{sourceWord}"
                       placeholder="Enter the word for translation"/>
                <p id="errorInWord" class="text-danger"></p>
            </div>
            <div id="vectorInput" class="form-group">
                <label for="vector">Vector of translation:</label>
                <input type="text" id="vector" name="vector" class="form-control" th:field="*{vectorOfTranslation}"
                    placeholder="Input vector of translation, e.g. en2uk, uk2en, en2ja"/>
                <p id="errorInVector" class="text-danger"></p>
            </div>
            <input type="submit" value="Submit" class="btn btn-success"/>
            <input type="reset" value="Reset" class="btn btn-danger" onclick="reset()"/>
        </form>
    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="=muted credit">
            Sensdu - sensum de sensu (sense-for-sense) translation powered by Wikipedia.
        </p>
    </div>
</div>

</body>
</html>