<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/validator.js"
            th:src="@{js/validator.js}"></script>

</head>

<body>
<div id="wrap">
    <div class="container">

        <h1 id="mainHeader">Sensdu</h1>

        <form role="form" name="mainInput" id="mainInput" action="#" th:action="@{/}" th:object="${sensduCore}"
              onsubmit="return validateForm()" onreset="resetHandler()" method="post">
            <table border="0" style="width:100%">
                <tr>
                    <td id="fromLanguageGroup">
                        <label>From:</label>
                        <div class="btn-group-xs" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{fromLanguage}"
                                       th:value="uk" autocomplete="off">Ukrainian
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{fromLanguage}"
                                       th:value="en" autocomplete="off">English
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{fromLanguage}"
                                       th:value="de" autocomplete="off">German
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{fromLanguage}"
                                       th:value="ru" autocomplete="off">Russian
                                </input>
                            </label>
                        </div>
                    </td>

                    <td id="toLanguageGroup">
                        <label>To:</label>
                        <div class="btn-group-xs" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{toLanguage}"
                                       th:value="en" autocomplete="off">English
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{toLanguage}"
                                       th:value="de" autocomplete="off">German
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{toLanguage}"
                                       th:value="ru" autocomplete="off">Russian
                                </input>
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="options" th:field="*{toLanguage}"
                                       th:value="uk" autocomplete="off">Ukrainian
                                </input>
                            </label>
                        </div>

                    </td>
                </tr>
            </table>

            <div id="wordInput" class="form-group">
                <label for="word"></label>
                <input type="text" id="word" name="word" class="form-control" th:field="*{sourceWord}"
                       placeholder="Enter the word for translation"/>
                <p id="errorInWord" class="text-danger"></p>
            </div>

            <input type="submit" value="Translate" class="btn btn-success"/>
            <input type="reset" value="Reset" class="btn btn-danger" onclick="reset()"/>
        </form>

    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="=muted credit">
            Sensdu - sensum de sensu (sense-for-sense) translation powered by Wikipedia.
        </p>
    </div>
</div>

</body>
</html>