<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sensdu</title>
    <meta http-equiv="Content-Type" sourceWord="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div id="wrap">
    <div class="container">
        <h1 id="mainHeader">Sensdu</h1>

        <p><strong>Your word: </strong>
            <i th:text="${sensduCore.sourceWord}"/>
        </p>
        <p><strong>Sense-for-sense translation: </strong>
            <i th:text="${sensduCore.translation}"/>
        </p>
        <p>Read more on Wikipedia:</p>
        <p>
            <a th:href="${sensduCore.translatedWordURL}" th:text="${sensduCore.translatedWordURL}"></a>
        </p>
        <a href="/">Translate another word</a>
    </div>
    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <p class="=muted credit">
            Sensdu - sensum de sensu (sense-for-sense) translation powered by Wikipedia.
        </p>
    </div>
</div>

</body>
</html>